p{
   font-familt: verdana;
   color:black;
   font-size: 20PX; 
}

.paragráfo-final{
    color:blue;
}

#autor {
    font-style:italic;
    font-size: 15px;
}

li{
    font-family:arial;
    color:blueviolet;
    font-size: 18px;
}